body {
    margin: 0;
    padding: 0;
    background: url(images/Hero-Image.jpg) center center no-repeat;
    background-size: cover;
}

.box {
    width: 450px;
    background: rgba(0, 0, 0, 0.6);
    padding: 40px;
    padding-bottom: 30px;
    border-radius: 1%;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic', fantasy;
}

.box-img{
    border-radius: 50%;
    width: 180px;
    height: 180px;
    align-items: center;;
}

.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box h6 {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 100;
}

.box p{
    text-align: justify;
    letter-spacing: 0.3px;
}

.group-one {
    padding: 0.2rem;
    position: relative;
    width: 0;
    
}

input {
    padding: 15px;
    margin: 0 px 0;
    border: none;
    background: #edf2f7;
    overflow: hidden;
    font-size: 80%;
    border-radius: .5rem;
}

#group-one-m{
    height: 100px; 
    border-radius: .5rem;
}

#submit{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*
ul{
    margin: 0;
    padding: 0;
}

.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}

.box li a:hover{
    color: #b9b9b9;
}
/*
.sector {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 3rem;
    align-items: center;
    max-width: ;
    font-family: fantasy
}

#stage {
    background: url('images/Science.jpg');
    height: 100%;
    padding-bottom: 12rem
}